# --- Ejecutables y Compilados ---
main
asl
*.o
**/common/*.o

# --- ANTLR: Ignorar TODO lo generado (C++ y Java) ---
# Esta regla ignora archivos que ANTLR suele generar automáticamente,
# basándose en patrones comunes de nombres.

# Archivos de soporte y tokens
*.interp
*.tokens
.antlr/

# Si usas Java (grun)
*.java
*.class
!**/src/**/*.java   # No ignorar si tienes fuentes Java manuales en una carpeta src

# --- Archivos de control de dependencias de Make ---
_antlr
_deps

# --- Archivos del Sistema y editores ---
.DS_Store
.vscode/
.idea/
*.swp
*~

# --- Archivos generados
AslBaseVisitor.cpp
AslBaseVisitor.h
AslLaxer.cpp
AslLaxer.h
AslParser.h
AslParse.cpp
AslVisitor.cpp
AslBaseVisitor.h